	<div id="divCustomerForm">

		<label for="txtCustomerId">Customer ID</label>
		<input type="text" id="txtCustomerId" data-ng-model="customer.customerId"><br/>

		<label for="txtFirstName">First Name</label>
		<input type="text" id="txtFirstName" ng-model="customer.firstName"><br/>

		<label for="txtLastName">Last Name</label>
		<input type="text" id="txtLastName" ng-model="customer.lastName"><br/>

		<label for="txtPhoneNumber">Phone Number</label>
		<input type="text" id="txtPhoneNumber" ng-model="customer.phoneNumber"><br/>	

		<label for="txtEmail">Email</label>
		<input type="text" id="txtEmail" ng-model="customer.email"><br/>

		<button id="btnSaveCustomer" ng-click="save()">Save Customer</button>

	</div>